# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
.pytest_cache/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore local environment files
.env

# Dev
dev/
 